*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color:#4d4740;}
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ImcreSoojin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@keyframes scroll {
  0%{transform: translateY(0px);}
  100%{transform: translateY(10px);}
}
@keyframes store{
    0%{transform: translateY(0px);}
    100%{transform: translateY(40px);}
}

body{
  font-family: 'NanumSquareRound';
  font-size: 14px;
  line-height: 24px;
  color: #4d4740;
}
/*맨위영상 콘텐츠*/
#top_movie{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
}
#top_movie video{
  width: 100%;
}

#top_movie a{
  position: absolute;
  top: 5%;
  right: 20%;
}
.scroll_main{
  position: absolute;
  top: 820px;
  left: 50%;
  margin-left: -37px;
}
.scroll_move{
  width: 4px;
  height: 30px;
  display: block;
  position: absolute;
  top: 870px;
  left: 50%;
  margin-left: -2px;
  animation: scroll 1s linear alternate infinite;
}


/*header*/
header{
  width: 100%;
  height: 98px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
#top{
  width: 1320px;
  height: 98px;
  margin: auto;
}
#top .logo_top{
  display: inline-block;
}
#top .logo_top img{
  display: block;
  padding-top: 7px;
}
#top> ul{
  float: right;
}
#top> ul> li{
  float: left;
}
.nav_icon> li{
  padding: 35px 10px;
}
.nav_icon> img{
  display: block;
}
.nav_icon> li img:hover{
  opacity: 0.7;
}


/*nav*/
.nav> li{
  padding: 38px 60px 30px 60px; 
  text-align: center;
}
.nav> li> a{
  font-family: 'Titan One', cursive;
  font-size: 20px;
  color: #598ab2;
}
.nav> li> a:hover{
  color: #4d4740;
}
/*sub*/
.sub{
  width: 100%;
  height: 333px;
  position: absolute;
  top: 98px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  border-top: 1px solid #598ab2;
  z-index: 99;
  display: none;
}
.sub_box{
  width: 100%;
}
.sub_inner{
  width: 1100px;
  margin:auto;
  padding: 15px 0;
  height: 220px;

}
.sub_inner ul{
  float: left;
  text-align: center;
}
.sub_inner li{
  padding: 15px 0; 
}
.sub ul a{
  color: #4d4740;
  display: block;
  font-size: 18px;
  font-weight: 900;
}
.sub1{
  width: 221.45px;
  margin-left: 170px;
}
.sub2{
  width: 195.25px;
  margin-left: 2px;
}
.sub3{
  width: 211.92px;
}
.sub4{
  width: 250.64px;
  margin-left: 213px;
}
.sub_inner li a:hover{
  color: #598ab2;
}

.sub_footer{
  width: 100%;
  height: 83px;
  background: url(menu_images/sub_menu_footer.png) center bottom repeat-x;
  background-size: cover;
}
.sub_f_inner{
  width: 1000px;
  height: 83px;
  margin:auto;
}
.sub_footer .left{
  float: left;
  text-align: left;
  padding: 5px 0;
}
.left p{
  color: #fae8d6;
}
.left p:nth-child(3){
  font-size: 24px;
}

.sub_f_inner img{
  display: block;
  float: left;
  padding-left: 10px;
  padding-top: 15px;
}
.sub_f_inner img:nth-child(2){
  padding-left: 90px;
}
.sub_f_inner img:nth-child(3){
  padding-top: 30px;
}

.sub_f_inner ul{
  float: left;
  text-align: left;
  padding: 8px 30px 5px 15px;
}
.sub_foot_ul li{
  color: #fae8d6;
  font-size: 18px;
  margin-left: 180px;
  padding: 5px 5px;
}
.sub_foot_ul2 li{
  color: #fae8d6;
  font-size: 18px;
  padding: 5px 5px;
}
.sub_foot_ul li:nth-child(1){
  border-bottom: 1px dashed #fff;
}
.sub_foot_ul2 li:nth-child(1){
  border-bottom: 1px dashed #fff;
}

/*mainbenner*/
#main_benner{
  margin: 0 auto 8%;
  width: 100%;
  height: 700px;
  padding: 5% 0 1%;
}
#main_benner img{
  display: block;
  width: 100%;
}

/*content1-1 시설 서비스코너*/
#content1-1{
  margin: 50px 0 20px;
  width: 100%;
  height: 400px;
}
.content1-1{
  width: 1320px;
  height: 400px;
  margin: auto;
}
#content1-1 h1{
  background: url(images/fac_ser_bg_icon.png) left top no-repeat;
  padding: 40px 40px 60px;
  font-family: 'ImcreSoojin';
}
#content1-1 ul{
  width: 100%;
  height: 168px;
}
#content1-1 ul li{
  float: left;
  width: 12.5%;
  text-align: center;
}
#content1-1 li p{
  font-size: 20px;
  color: #598ab2;
  font-weight: bold;
}
#content1-1 .viewmore{
  width: 1320px;
  height: 34px;
  margin: auto;
  margin-top: 15px;
  text-align: right;
}
.viewmore a{
  display: inline-block;
  border: 1px solid #4d4740;
  border-radius: 50px;
  background: url(images/viewmore_plus.png) 7px center no-repeat #4d4740;
  color: #fae8d6;
  font-size: 15px;
  padding: 3px 12px 0px 30px;
}
.viewmore a:hover{
  box-shadow: 3px 3px 5px rgba(77, 71, 64, 0.3);
}

/*content1-2 룸배너 & 프로그램 코너*/
#content1-2{
width: 100%;
height: 3284px;
margin-bottom: 80px;
position: relative;
background: url(images/content1-2_bg_room_ac_heal.png)50% 0 no-repeat;
}
#content1-2 h6{
    position: absolute;
    top: 220px;
    left: 50%;
    margin-left: -380px;
    width: 104px;
    height: 40px;
}
#content1-2 h6 a{
    display: inline-block;
    color: #fae8d6;
    font-size: 12px;
    padding: 2px 10px 0 26px;
    background: url(images/room_plus_icon.png) 7px center no-repeat;
    border-radius: 50px;
    background-color: #4d4740;
}
#content1-2 h6 a:hover{
  box-shadow: 3px 3px 5px rgba(77, 71, 64, 0.3);
}
/*activity program*/
.ac_text{
    position: absolute;
    top: 830px;
    left: 50%;
    margin-left: 170px;
    width: 400px;
    height: 100px;
}
#content1-2 h1{
    background: url(images/fac_ser_bg_icon.png) left top no-repeat;
    font-size: 30px;
    font-family: 'ImcreSoojin';
    padding: 40px 35px 30px;
    color: #598ab2;
}
#content1-2 p{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    margin-right: 70px;
}
.ac_photo{
    width: 800px;
    height: 670px;
    position: absolute;
    top: 1100px;
    left: 50%;
    margin-left: -650px;
}
.box{
    position: absolute;
    width: 250px;
    height: 250px;
    overflow: hidden;
}
.ac1{
    top: 0;
    right: 0;
}
.ac2{
    top: 320px;
    right: 190px;
}
.ac3{
    left: 0;
    bottom: 0;
}
.ac_photo .box a{
    display: block;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 9px solid #fed2a2;
    overflow: hidden;
}
.ac_photo .box .ac_plus{
    position: absolute;
    bottom: 5%;
    left: 15%;
    width: 40px;
    height: 40px;
    background-color: #fed2a2;
    border-radius: 50%;
    box-sizing: border-box;
    transition: all 1.5s;
}
.ac_plus img{
    display: inline-block;
    padding: 7px;
    width: 25px;
    height: 25px;
}
.ac_photo .box> a> img{
    transition: all 1s;
}
.ac_photo .box> a> img:hover{
    transform: scale(1.2);
}
.ac_photo .box a:hover{
    border: 9px solid #fdc486;
}
.ac_photo .box:hover .ac_plus{
    background-color: #fdc486;
    transform: rotate(180deg);
}


/*healing program*/
.heal_text{
    position: absolute;
    top: 2250px;
    left: 50%;
    margin-left: -500px;
    width: 400px;
    height: 100px;
}
.heal_photo{
    width: 850px;
    height: 670px;
    position: absolute;
    top: 2500px;
    left: 50%;
    margin-left: -190px;
}
.heal_photo .box a{
    display: block;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 9px solid #598ab2;
    overflow: hidden;
}
.heal_photo .box .ac_plus{
    position: absolute;
    bottom: 5%;
    left: 15%;
    width: 40px;
    height: 40px;
    background-color: #598ab2;
    border-radius: 50%;
    box-sizing: border-box;
    transition: all 1.5s;
}
.heal1{
    top: 0;
    left: 0;
}
.heal2{
    top: 320px;
    left: 190px;
}
.heal3{
    right: 0;
    bottom: 0;
}
.heal_photo .box> a> img{
    transition: all 1s;
}
.heal_photo .box> a> img:hover{
    transform: scale(1.2);
}
.heal_photo .box a:hover{
    border: 9px solid #447093;
}
.heal_photo .box:hover .ac_plus{
    background-color: #447093;
    transform: rotate(180deg);
}

/*content1-3 review*/
#content1-3{
    width: 100%;
    height: 800px;
    margin-bottom: 150px;
    background: url(images/review_bg.png) center bottom no-repeat;
}
#content1-3 section{
    width: 1320px;
    height: 650px;
    margin: 100px auto;
}
#content1-3 section h1{
    background: url(images/fac_ser_bg_icon.png) left top no-repeat;
    padding: 40px 40px 20px;
    font-family: 'ImcreSoojin';
    font-size: 30px;
}
#content1-3 section> p{
    font-size: 18px;
    padding-left: 40px;
}
#content1-3 section h6{
    text-align: right;
    margin-right: 20px;
    margin-bottom: 50px;
}
#content1-3 section h6 a{
    display: inline-block;
    border: 1px solid #4d4740;
    border-radius: 50px;
    background: url(images/viewmore_plus.png) 7px center no-repeat #4d4740;
    color: #fae8d6;
    font-size: 15px;
    padding: 3px 12px 0px 30px;
}
#content1-3 section h6 a:hover{
  box-shadow: 3px 3px 5px rgba(77, 71, 64, 0.3);
}
#content1-3 section ul{
    width: 100%;
    margin: 0 1%;
}
#content1-3 section ul li{
    float: left;
    width: 31.33%;
    margin-right: 2%;
    position: relative;
    /* overflow: hidden; */
}
#content1-3 section ul li img{
    width: 100%;
    display: block;
}
#content1-3 section ul li:nth-child(3){
    margin-right: 0;
}
section ul li:nth-child(3) div{
    border-radius: 0 80px 0 0;
}
#content1-3 section .review_box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}
#content1-3 section li:hover .review_box{
    opacity: 1;
    box-shadow: 5px 5px 5px rgba(77, 71, 64, 0.5);
}
.review_box p{
    padding-top: 50%;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(77, 71, 64, 0.3);
}

/*content1-4 store*/
#content1-4{
    width: 100%;
    height: 800px;
    padding-top: 30px;
    background: url(images/store_bg.png) center top no-repeat;
}
#content1-4 .store_center{
    width: 1320px;
    height: 800px;
    margin: auto;
}
#content1-4 .store_center h2{
    font-size: 30px;
    background: url(images/store_title_bg.png) left top no-repeat;
    padding: 55px 45px 20px;
    font-family: 'ImcreSoojin';
}
#content1-4 h6{
    text-align: right;
    margin-right: 20px;
}
#content1-4 h6 a{
    display: inline-block;
    border: 1px solid #4d4740;
    border-radius: 50px;
    background: url(images/viewmore_plus.png) 7px center no-repeat #4d4740;
    color: #fae8d6;
    font-size: 15px;
    padding: 3px 12px 0px 30px;
}
#content1-4 h6 a:hover{
  box-shadow: 3px 3px 5px rgba(77, 71, 64, 0.3);
}
.store_center ul li{
    float: left;
    width: 32%;
    margin-right: 2%;
    margin-top: 6%;
    text-align: center;
}
.store_center ul li:nth-child(3){
    margin-right: 0;
}
.store_center ul h1{
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 4%;
}
.store_center ul p{
    font-size: 18px;
    padding-bottom: 20%;
}
.store_center ul a{
    display: block;
}
.store_center .store1{
    animation: store 1.8s ease-in-out infinite alternate 1s;
}
.store_center .store2{
    animation: store 1.8s ease-in-out infinite alternate;
}
.store_center .store3{
    animation: store 1.8s ease-in-out infinite alternate 0.5s;
}

/*content1-5 what's news*/
#content1-5{
    width: 1320px;
    height: 500px;
    margin: 70px auto;
}
#content1-5 h1{
    font-size: 30px;
    background: url(images/fac_ser_bg_icon.png) 0.5% 20% no-repeat;
    padding: 55px 45px 20px;
    font-family: 'ImcreSoojin';
}
#content1-5 p{
    font-size: 18px;
    padding-left: 45px;
}
#content1-5 h6{
    text-align: right;
    margin-right: 20px;
    margin-bottom: 50px;
}
#content1-5 h6 a{
    display: inline-block;
    border: 1px solid #4d4740;
    border-radius: 50px;
    background: url(images/viewmore_plus.png) 7px center no-repeat #4d4740;
    color: #fae8d6;
    font-size: 15px;
    padding: 3px 12px 0px 30px;
}
#content1-5 h6 a:hover{
  box-shadow: 3px 3px 5px rgba(77, 71, 64, 0.3);
}
#content1-5 ul li{
    float: left;
    width: 49%;
    margin-right: 2%;
}
#content1-5 ul li:nth-child(2){
    margin-right: 0;
}
#content1-5 ul li img:hover{
  opacity: 0.6;
}
#content1-5 ul li img{
  transition: all 1s;
}


/*footer*/
.footer_on{
  width: 100%;
  height: 60px;
  background: url(footer_images/footer_on.jpg) center top repeat-x;
  text-align: center;
}
.footer_on ul{
  width: 1320px;
  height: 60px;
  margin: auto;
}
.footer_on li:nth-child(1){
  padding-left: 150px;
}
.footer_on li:nth-child(4){
  padding-right: 120px;
}
.footer_on ul li{
  float: left;
  padding: 18px 45px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.footer_on li:nth-child(1){
  background: url(footer_images/footer_on_tel.png) 125px center no-repeat;
}
.footer_on li:nth-child(2){
  background: url(footer_images/footer_on_ads.png) 20px center no-repeat;
}
.footer_on li:nth-child(3){
  background: url(footer_images/footer_on_email.png) 15px center no-repeat;
}.footer_on li:nth-child(4){
  background: url(footer_images/footer_on_bank.png) 10px center no-repeat;
}
.footer_on ul li:hover{
  text-shadow: 2px 2px 4px rgba(77, 71, 64, 0.3);
}

.footer_bot{
  width: 100%;
  height: 306px;
  background: url(footer_images/footer_bg.jpg) center top repeat-x;
  background-size: cover;
}
.footer_in{
  width: 1320px;
  height: 306px;
  margin: auto;
}
.footer_in h3{
  display: inline-block;
}
.footer_in .f_logo img{
  display: block;
  padding-top: 70px;
}
.footer_in{
  position: relative;
}
.footer_in ul li{
  float: left;
}
.footer_in .sns{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.footer_in .sns img{
  display: block;
  opacity: 0.5;
}
.sns li:nth-child(1) {
  padding-left: 0px;
}
.sns li{
  padding-left: 40px;
}

.sns li img:hover{
  opacity: 1;
}

.footer_list{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
.footer_list li a{
  font-size: 16px;
}
.footer_list li a:hover{
  text-decoration: underline;
  opacity: 0.7;
}

.footer_in p:nth-child(4){
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
}
.footer_in p:nth-child(5){
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
}

/*fixed*/
.fixed{
  position: fixed;
  right: 2%;
  bottom: 5%;
  z-index: 98;
}
